.stip-blogHero {
    background: linear-gradient(to bottom,rgba(0,0,0,0),rgba(0,0,0,0.5), rgba(0,0,0,0.7)), url("https://images.pexels.com/photos/266246/pexels-photo-266246.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940") no-repeat !important;
    background-position: top center !important;
}

.stip-card {
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
}

//blog article

.stip-articleNav {
    padding: 2rem 10rem;
    transition: 0.3s;
    width: 100%;
}

.stip-backIcon {
    font-size: 35px;

    &:hover {
        text-decoration: none;
    }
}

.stip-articleImg {
    background: linear-gradient(to bottom,rgba(0,0,0,0),rgba(0,0,0,0.4)), url("https://www.repstatic.it/content/localirep/img/rep-firenze/2018/10/28/181215340-d48996a8-38ee-4195-9224-b59d48608b93.jpg") no-repeat;
    background-size: cover;
    background-position: center center;
    height: 35em;
}

.stip-articleAuthorImg{
    background: url("https://timedotcom.files.wordpress.com/2018/01/stephanie-schriock-motto.jpg") no-repeat;
    background-size: cover;
    background-position: center center;
    height: 4em;
    width: 4em;
    border-radius: 50%;
}

.stip-articleFooter{
    background-color: #4384f1;
    margin-top: 10em;
}

@media (max-width: 576px) {
    .stip-articleNav {
        padding: 1rem 2rem;
    }
}