.stip-contactForm {
    background-color: $stcolor;
}

.stip-contactCol {
    margin-top: 7em;
}

#map {
    width: 100%;
    height: 20em;
    background-color: grey;
}

@media (max-width: 576px) {
    .stip-contactForm {
        form {
            margin-top: 2em;
        }
    }
}