$stcolor: #399fad;
$ndcolor: #ff6161;

.stip-demoHero {
    height: 100vh;
    position: relative;
    overflow: hidden;
    padding: 5em;
    background: url("../img/demoBG_1.png") no-repeat;
    background-size: 50%;
    background-position-y: center;
    background-position-x: right;
}

.stip-backIcon{
    color: $stcolor;
    cursor: pointer;
    &:hover{
        color: $ndcolor;
    }
}

.stip-demo-button {
    color: white;
    background-color: $stcolor;
    transition: 0.2s;
    border: 0;

    &:hover {
        background-color: $ndcolor;
        color: white;
    }
}

@media (max-width: 576px) {
    .stip-demoHero {
        padding: 2em;
        background-position-y: bottom;
        background-position-x: center;
    }
}