$stcolor: #399fad;
$ndcolor: #ff6161;

$h3size: 18px;

.stip-demoHero {
    height: 100vh;
    position: relative;
    overflow: hidden;
    padding: 5em;
    background: url("../img/demoBG_1.png") no-repeat;
    background-size: 50%;
    background-position-y: center;
    background-position-x: right;
}

#stip-demo-thanks{
    display: flex;
    flex-direction: column;
}

.stip-demoBackHome{
    color: $stcolor;
    &:hover{
        color: $ndcolor;
    }
} 

.stip-demo-button {
    color: white;
    background-color: $stcolor;
    transition: 0.2s;
    border: 0;

    &:hover {
        background-color: $ndcolor;
        color: white;
    }
} 

.stip-downloadRow {
    background: url("../img/benefitBG.png") no-repeat center center;
    background-size: contain;
}

.stip-downloadBtn{
    height: 3em;
    width: 12em;
    font-weight: 600;
    font-size: $h3size - 2;
    color: white;
    background-color: $stcolor;
    border-color: transparent;
    border-radius: 50px;
    padding: 10px 20px;

    &:hover {
        box-shadow: 0 3px 5px rgba(0, 0, 0, 0.4) !important;
        background-color: $ndcolor;
        border-color: transparent;
    }
}

@media (max-width: 576px) {
    .stip-demoHero {
        padding: 2em;
        background-position-y: bottom;
        background-position-x: center;
    }
}

@media (max-width: 767px) {
    .stip-downloadRow {
        background: none;
    }
}