@import url("https://fonts.googleapis.com/css?family=Nunito:300,400,600,700&display=swap");
@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialicons/v55/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format("woff2");
}

@font-face {
  font-family: "Material Icons Outlined";
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialiconsoutlined/v14/gok-H7zzDkdnRel8-DQ6KAXJ69wP1tGnf4ZGhUcel5euIg.woff2) format("woff2");
}

.material-icons {
  font-family: "Material Icons" !important;
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
}

.material-icons-outlined {
  font-family: "Material Icons Outlined";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
}

* {
  font-family: "Nunito", sans-serif;
}

p,
h1,
h2,
h3 {
  white-space: pre-line;
}

.hs-form {
  background-color: red !important;
}

html {
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
  max-width: 1920px;
  margin: auto;
}

b {
  font-weight: 600;
}

.stip-navs {
  -webkit-box-shadow: 0 0rem 1rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0rem 1rem rgba(0, 0, 0, 0.1);
}

.stip-navBlog {
  padding: 0 5em;
  border-top: 1px solid #eeeeee;
}

.stip-navBlog .stip-homeBlog {
  color: #399fad;
}

.stip-navBlog .stip-homeBlog:hover {
  color: #ff6161;
  text-decoration: none;
}

.stip-lastArticleContainer {
  margin-top: 15em;
}

.stip-heroArticleImg {
  background: url("../img/blogImg/blog_1.png") no-repeat !important;
  background-position: top center !important;
  height: 35em;
  background-size: cover !important;
}

.stip-card {
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
}

.stip-cardImage {
  border-radius: 1.25rem 1.25rem 0 0;
}

/*.swiper-container {
    width: 90%;
}

.stip-swiper-btn {
    height: 1.5em;
}*/
.stip-latestArticle {
  background-color: #399fad;
  opacity: 0.85;
}

.stip-arrowBack i {
  -webkit-transform: rotateZ(-180deg);
          transform: rotateZ(-180deg);
  font-size: 2.5em;
  color: #399fad;
}

.stip-arrowBack span {
  color: #399fad;
}

.stip-arrowBack:hover {
  text-decoration: none;
}

.stip-arrowBack:hover i {
  color: #ff6161;
}

.stip-arrowBack:hover span {
  color: #ff6161;
}

.stip-articleImg {
  background: url("https://www.repstatic.it/content/localirep/img/rep-firenze/2018/10/28/181215340-d48996a8-38ee-4195-9224-b59d48608b93.jpg") no-repeat;
  background-size: cover;
  background-position: center center;
  height: 35em;
}

.stip-articleAuthorImg {
  background: url("https://www.shutterstock.com/blog/wp-content/uploads/sites/5/2018/07/36.jpg") no-repeat;
  background-size: cover;
  background-position: center center;
  height: 4em;
  width: 4em;
  border-radius: 50%;
}

@media (max-width: 576px) {
  .stip-lastArticleContainer {
    margin-top: 8em;
  }
  .stip-latestArticle {
    border-radius: 0 !important;
  }
  .stip-heroArticleImg {
    border-radius: 0 !important;
    -webkit-box-shadow: none !important;
            box-shadow: none !important;
  }
  .stip-articleImg {
    border-radius: 0 !important;
    -webkit-box-shadow: none !important;
            box-shadow: none !important;
  }
  /*.swiper-container {
        width: 100% !important;
    }*/
}

.stip-contactContainer {
  height: 100vh;
  background: url("../img/contactBG.png") no-repeat center right;
  background-size: 50%;
}

#stip-contactUs {
  color: white;
  background-color: #399fad;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  border: 0;
}

#stip-contactUs:hover {
  background-color: #ff6161;
  color: white;
}

.map {
  width: 100%;
  height: 20em;
  background-color: grey;
}

@media (max-width: 576px) {
  .stip-contactContainer {
    padding: 2em;
    background-position-y: bottom;
    background-position-x: center;
  }
  .stip-mapContainer {
    margin-top: 5em;
  }
}

.stip-privacyContainer {
  margin-top: 10em;
}

.stip-supportContainer {
  height: 100vh;
  background: url("../img/supportBG.png") no-repeat center 100%;
  background-size: 100%;
}

#stip-support-send {
  color: white;
  background-color: #399fad;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  border: 0;
}

#stip-support-send:hover {
  background-color: #ff6161;
}

#stip-empty-files {
  cursor: pointer;
}

@media (max-width: 576px) {
  .stip-supportContainer {
    background: none;
  }
}

.stip-demoHero {
  height: 100vh;
  position: relative;
  overflow: hidden;
  padding: 5em;
  background: url("../img/demoBG_1.png") no-repeat;
  background-size: 50%;
  background-position-y: center;
  background-position-x: right;
}

#stip-demo-thanks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.stip-demoBackHome {
  color: #399fad;
}

.stip-demoBackHome:hover {
  color: #ff6161;
}

.stip-demo-button {
  color: white;
  background-color: #399fad;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  border: 0;
}

.stip-demo-button:hover {
  background-color: #ff6161;
  color: white;
}

@media (max-width: 576px) {
  .stip-demoHero {
    padding: 2em;
    background-position-y: bottom;
    background-position-x: center;
  }
}

.stip-heroLead {
  height: 100vh;
  padding: 10%;
  background: url("../img/heroLead.png") no-repeat;
  background-size: contain;
  background-position-y: bottom;
  background-position-x: right;
  position: relative;
  overflow: hidden;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.stip-whatscoveredBG {
  background: url("../img/whatscoveredBG.png") no-repeat;
  background-size: contain;
  background-position-y: center;
  background-position-x: right;
}

.stip-whatscovered {
  padding: 10em 0 0 7em;
}

.stip-whatscovered h2 {
  font-size: 2em;
}

.stip-whatscovered p {
  font-size: 1.2em;
}

.stip-summary {
  margin-top: 10em;
}

@media (max-width: 576px) {
  .stip-heroLead {
    background: url("../img/heroLead-sm.png") no-repeat;
    background-size: contain;
    background-position-y: bottom;
    background-position-x: center;
  }
  .stip-summary {
    margin-top: 3em;
    padding: 3em;
  }
}

@media (max-width: 767px) {
  .stip-whatscoveredBG {
    background: none;
  }
  .stip-whatscovered {
    margin-top: 3em;
    padding: 1em !important;
  }
  .stip-whatscovered h2 {
    font-size: 1.7em;
  }
  .stip-whatscovered p {
    font-size: 0.8em;
  }
}

@media (max-width: 992px) {
  .stip-whatscovered {
    padding: 5em;
  }
}

.stip-testaiContainer {
  height: 100vh;
}

#stip-testai-send {
  color: white;
  background-color: #399fad;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  border: 0;
}

#stip-testai-send:hover {
  background-color: #ff6161;
}

#stip-empty-files {
  cursor: pointer;
}

.stip-heroFlow {
  height: 100vh;
  padding: 10%;
  position: relative;
  overflow: hidden;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.stip-heroFlowBG {
  max-width: 100% !important;
}

#stip-paperplane {
  position: fixed;
  z-index: 2;
  max-width: 5%;
  left: 50%;
  top: 50%;
  opacity: 0;
}

.stip-platformBG {
  background: url("../img/demoBG_1.png") no-repeat center right;
  background-size: contain;
}

.stip-flowsection {
  padding: 2em 10em;
}

.stip-flowBG {
  max-width: 85%;
}

.stip-agentBG {
  background: url("../img/flow4.png") no-repeat center center;
  background-size: contain;
}

.stip-collapse .card-header {
  background-color: transparent;
}

.stip-collapse .card-header button {
  color: #303030;
  -webkit-transition: 0s;
  transition: 0s;
  text-align: left;
}

.stip-collapse .card-header button:hover {
  text-decoration: none;
}

.stip-collapse .card-header button:focus {
  text-decoration: none;
}

.stip-collapse:hover {
  border-color: #399fad;
  border-bottom: 1px solid #399fad !important;
}

.stip-collapse:hover button {
  color: #399fad !important;
}

.stip-collapse:hover i {
  color: #399fad !important;
}

@media (min-width: 768px) and (max-width: 992px) {
  .stip-flowsection {
    padding: 2em 5em;
  }
}

@media (max-width: 1200px) {
  .stip-heroFlow {
    background-position-x: 40% !important;
    background-size: cover !important;
    background-position-y: top !important;
  }
}

@media (max-width: 576px) {
  .stip-flowsection {
    padding: 2em 1em;
  }
  .stip-heroFlow {
    margin-top: 5em;
  }
  .stip-heroFlowBG {
    max-width: 100% !important;
  }
  .stip-flowBG {
    max-width: 100%;
  }
  .stip-agentBG {
    background: unset;
  }
}

/* #stip-deck-send{
    color: white;
    background-color: $stcolor;
    transition: 0.2s;
    border: 0;

    &:hover{
        background-color: $ndcolor;
    }
} */
.stip-deckContainer {
  margin-top: 5em;
}

@media (max-width: 576px) {
  .stip-deckContainer {
    margin-top: 3em;
  }
}

.stip-heroRoi {
  padding: 10% 0 10% 0;
  position: relative;
  overflow: visible;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.stip_video-container {
  padding: 0 10em 0 10em;
}

.stip_roi-btn {
  width: 100%;
  font-weight: 600;
  font-size: 16px;
  color: white;
  background-color: #399fad;
  border-color: transparent;
  border-radius: 50px;
  padding: 10px 20px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  border: 0;
}

.stip_roi-btn:hover {
  background-color: #399fad;
  border: 0;
  color: white;
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.4);
          box-shadow: 0 3px 5px rgba(0, 0, 0, 0.4);
  text-decoration: none;
}

.stip_roi-num {
  font-size: 46px;
  font-weight: 600;
  color: #399fad;
}

.stip_meeting-container {
  margin-top: 8em;
}

@media (max-width: 1200px) {
  .video-roi {
    width: 100%;
    height: 100%;
  }
}

@media (max-width: 576px) {
  .stip-heroRoi {
    margin-top: 5em;
    padding: 2em;
  }
  .video-roi {
    width: 100%;
    height: 100%;
  }
  .stip_meeting-container {
    margin-top: 0;
  }
  .stip_roi-container {
    padding: 2em;
  }
  .stip_video-container {
    padding: 2em;
  }
  .stip_meeting-container {
    background: none;
    padding-top: 2em;
  }
}

.stip_cnc-container {
  height: 100vh;
  overflow: visible;
}

.stip_cnc-container h1 {
  font-size: 42px;
  font-weight: 600;
  line-height: 1.4;
  color: #1a0f91;
}

.stip_cnc-container h2 {
  font-size: 28px;
  font-weight: 400;
}

.stip_cnc-container h3 {
  font-size: 21px;
  font-weight: 400;
}

#stip_facebook-input {
  background-color: #f0f2f5;
  border-radius: 50px;
  border: 0;
}

.stip_facebook-card {
  border-radius: 10px;
  border: 0;
}

.stip_facebook-comment-box {
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.stip_facebook-comment-box p {
  background-color: #f0f2f5;
  border-radius: 20px;
  padding: 10px;
  margin: 0;
}

.stip_nocaring-badge {
  background-color: #1a0f91;
  padding: 4px 8px;
  color: white;
  -ms-flex-item-align: start;
      align-self: flex-start;
  border-radius: 25px;
  margin-left: 5px;
  font-size: 16px;
  font-weight: 600;
  white-space: nowrap;
}

.stip_caring-badge {
  background-color: #ff6600;
  padding: 4px 8px;
  color: white;
  -ms-flex-item-align: start;
      align-self: flex-start;
  border-radius: 25px;
  margin-left: 5px;
  font-size: 16px;
  font-weight: 600;
  white-space: nowrap;
}

#stip_facebook-refresh {
  position: absolute;
  right: 20px;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#stip_facebook-refresh:hover {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
  color: #1a0f91;
}

@media (max-width: 576px) {
  .stip_cnc-container {
    padding: 100px 25px 0 25px;
    height: auto;
  }
  .stip_cnc-container h1 {
    font-size: 32px;
  }
  .stip_cnc-container h2 {
    font-size: 26px;
  }
  .stip_facebook-comment-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .stip_facebook-comment-box span {
    -ms-flex-item-align: end;
        align-self: flex-end;
    margin-top: 5px;
  }
  .stip_caring-badge {
    font-size: 14px;
    font-weight: 400;
  }
  .stip_nocaring-badge {
    font-size: 14px;
    font-weight: 400;
  }
}

.stip-h1-linkedin {
  font-weight: 600;
  font-size: 36px;
}

.stip-hero-linkedin {
  height: 100vh;
  padding: 10%;
  background-color: #1a0f91;
  background: url("../img/pattern-linkedin.png") center center no-repeat;
  background-size: cover;
  overflow: hidden;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}

.stip-hero-linkedin h1 {
  font-size: 42px;
  font-weight: 600;
  line-height: 1.4;
}

.stip-hero-linkedin h2 {
  font-size: 21px;
  font-weight: 400;
}

.stip-cta-linkedin {
  letter-spacing: 2px;
  font-size: 14px;
  font-weight: 600;
  color: white;
  background-color: #ff6600;
  border-color: transparent;
  border-radius: 50px;
  padding: 15px 25px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  border: 0;
}

.stip-cta-linkedin:hover {
  background-color: #ff6600;
  border: 0;
  color: white;
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.4);
          box-shadow: 0 3px 5px rgba(0, 0, 0, 0.4);
  text-decoration: none;
}

.stip-section-linkedin {
  padding: 50px 150px;
}

.stip-card-linkedin {
  background: url("../img/pattern-linkedin.png") center center no-repeat;
  background-size: cover;
  color: white;
  border: 0;
  border-radius: 1.25rem;
}

.stip-input-linkedin {
  border: 0;
  border-radius: 50px;
  -webkit-transition: 0.1s ease;
  transition: 0.1s ease;
}

.stip-input-linkedin:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 2px solid #ff6600;
}

#mc-embedded-email-signup-form .stip-input-linkedin {
  width: 50%;
}

.stip-cta-form-linkedin {
  letter-spacing: 2px;
  font-size: 14px;
  font-weight: 600;
  color: white;
  background-color: #ff6600;
  border-color: transparent;
  border-radius: 50px;
  padding: 15px 35px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  border: 0;
}

.stip-cta-form-linkedin:hover {
  background-color: #ff6600;
  border: 0;
  color: white;
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.4);
          box-shadow: 0 3px 5px rgba(0, 0, 0, 0.4);
  text-decoration: none;
}

.stip-num-linkedin {
  font-size: 54px;
  font-weight: 700;
}

@-webkit-keyframes growup {
  0% {
    font-size: 36px;
  }
  50% {
    font-size: 70px;
  }
  100% {
    font-size: 54px;
  }
}

@keyframes growup {
  0% {
    font-size: 36px;
  }
  50% {
    font-size: 70px;
  }
  100% {
    font-size: 54px;
  }
}

.growup {
  -webkit-animation: growup 1.5s ease;
          animation: growup 1.5s ease;
}

@media (max-width: 576px) {
  .stip-hero-linkedin {
    height: auto;
    padding-top: 100px;
  }
  .stip-hero-linkedin h1 {
    font-size: 32px;
  }
  .stip-hero-linkedin h2 {
    font-size: 18px;
  }
  .stip-cta-linkedin {
    padding: 10px 15px;
    letter-spacing: 1px;
  }
  .stip-cta-form-linkedin {
    padding: 10px 25px;
    width: 100%;
  }
  .stip-h1-linkedin {
    font-size: 24px;
  }
  .stip-section-linkedin {
    padding: 50px 20px;
  }
  #mc-embedded-email-signup-form .stip-input-linkedin {
    width: 100%;
  }
}

@media (min-width: 576px) and (max-width: 1200px) {
  .stip-hero-linkedin {
    height: auto;
    padding-top: 200px;
  }
}

.p-5_2 {
  padding: 2rem !important;
}

.px-5_2 {
  padding-left: 2rem !important;
  padding-right: 2rem !important;
}

.stip-h1 {
  font-size: 29px;
  font-weight: 500;
}

.stip-h2 {
  font-size: 26px;
  font-weight: 500;
}

.stip-h3 {
  font-size: 21px;
  font-weight: 600;
}

.stip-txt {
  font-size: 18px;
  font-weight: 300;
}

.stip-label {
  font-size: 16px;
  font-weight: 300;
}

.stip-colorTxt {
  color: #399fad;
}

.z-index-low {
  z-index: -2 !important;
}

.stip-rounded {
  border-radius: 1.25rem;
}

.stip-shadow {
  -webkit-box-shadow: 0 0rem 1rem rgba(0, 0, 0, 0.1) !important;
          box-shadow: 0 0rem 1rem rgba(0, 0, 0, 0.1) !important;
}

/*.stip-loadLogo {
    height: 30%;
    transform-box: fill-box;
    opacity: 1;

    .stip-char {
        transform-origin: center;
    }
 
    .stip-spunta {
        transform-origin: 35%;
        transform-box: fill-box;
    }

    .stip-rect {
        transform-origin: bottom;
        transform-box: fill-box;
    }
}

.stip-loading {
    display: flex;
}*/
.stip-contact-card {
  cursor: pointer;
  position: fixed;
  bottom: 50px;
  right: 50px;
  z-index: 5;
  border: 0;
  border-radius: 25px;
}

.stip-contact-card .stip-contact-card-title {
  padding-right: 15px;
  font-size: 16px;
  font-weight: 600;
}

.stip-contact-card .stip-contact-card-header {
  background-color: #399fad;
  color: white;
  border-radius: 25px;
}

.stip-contact-card .stip-contact-card-close {
  position: absolute;
  right: 20px;
  cursor: pointer;
}

.stip-contact-card-body {
  width: 380px;
}

.stip-navs {
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}

.stip-nav {
  z-index: 1030;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  padding: 30px 120px 0 120px;
}

.stip-nav .stip-navItem {
  font-size: 18px;
  font-weight: 500;
}

.stip-btnNav {
  border: none;
}

.stip-btnNav:focus {
  outline: none;
}

.stip-langBtnBox {
  padding: 0.5rem;
}

.stip-langBtnBox button:hover {
  text-decoration: underline;
}

.stip-langBtnBox button:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.stip-active {
  color: #ff6161 !important;
}

.stip-reprompt-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.2);
}

.stip-reprompt-container .stip-reprompt {
  position: fixed;
  top: 50%;
  z-index: 1050;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.stip-heroContainer {
  height: 100vh;
  padding: 10%;
  background: url("../img/heroBannerIllustration.png") no-repeat;
  background-size: contain;
  background-position-y: bottom;
  background-position-x: right;
  position: relative;
  overflow: hidden;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.stip-heroContainer .stip-btnHero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.stip-demoRequest {
  height: 3em;
  width: 12em;
  font-weight: 600;
  font-size: 16px;
  color: white;
  background-color: #399fad;
  border-color: transparent;
  border-radius: 50px;
  padding: 10px 20px;
}

.stip-demoRequest:hover {
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.4) !important;
          box-shadow: 0 3px 5px rgba(0, 0, 0, 0.4) !important;
}

.stip-demoRequest:focus {
  outline: none;
}

.stip-roiRequest {
  height: 3em;
  font-weight: 600;
  font-size: 16px;
  color: white;
  background-color: #399fad;
  border-color: transparent;
  border-radius: 50px;
  padding: 10px 20px;
}

.stip-roiRequest:hover {
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.4) !important;
          box-shadow: 0 3px 5px rgba(0, 0, 0, 0.4) !important;
}

.stip-roiRequest:focus {
  outline: none;
}

.stip-nav-demo {
  height: 2.5em;
  font-weight: 600;
  font-size: 16px;
  color: white;
  background-color: #399fad;
  border-color: transparent;
  border-radius: 50px;
  padding: 5px 20px;
}

.stip-nav-demo:hover {
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.4) !important;
          box-shadow: 0 3px 5px rgba(0, 0, 0, 0.4) !important;
}

.stip-nav-demo:focus {
  outline: none;
}

.stip-contactUs {
  height: 3em;
  width: 12em;
  font-weight: 600;
  font-size: 16px;
  color: white;
  background-color: transparent;
  border: 3px solid white;
  border-radius: 50px;
  padding: 10px 20px;
  margin-left: 20px;
}

.stip-contactUs:hover {
  border-color: #ff6161;
  color: #ff6161;
}

.stip-contactUs:focus {
  outline: none;
}

.stip-contactUsHero {
  height: 3em;
  width: 12em;
  font-weight: 600;
  font-size: 16px;
  color: #399fad;
  background-color: white;
  border: 3px solid #399fad;
  border-radius: 50px;
  padding: 10px 20px;
  margin-left: 20px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.stip-contactUsHero:hover {
  border-color: #ff6161;
  color: #ff6161;
}

.stip-contactUsHero:focus {
  outline: none;
}

.stip-sectionTitle {
  padding: 0 25%;
  text-align: center;
  margin-top: 5em;
}

.stip-sectionBody {
  margin: 3em 10% 0 10%;
}

.stip_learn-more {
  text-decoration: underline;
}

.stip-titleNum {
  font-size: 48px;
  font-weight: 700;
  color: #399fad;
}

.stip-IllustrationDim {
  height: 15em;
  width: 20em;
}

.stip-benefitContainer {
  background: url("../img/benefitBG.png") no-repeat center center;
  background-size: contain;
}

.stip-benefitRow {
  max-width: 1200px;
  margin: 5em auto 0 auto;
  border-radius: 2.25rem;
  padding: 4rem 4rem;
}

.stip-howWork {
  padding: 10em;
}

.stip-caringBG {
  background: url("../img/caringBG.png") no-repeat;
  background-size: contain;
  background-position-x: left;
}

.stip-ticketBG {
  background: url("../img/ticketBG.png") no-repeat;
  background-size: contain;
  background-position-x: right;
}

.stip-redirectBG {
  background: url("../img/redirectBG.png") no-repeat;
  background-size: contain;
  background-position-x: left;
}

.costReduction-txt {
  font-size: 48px;
  font-weight: 600;
  display: inline;
  color: #399fad;
}

.timeReduction-txt {
  font-size: 48px;
  font-weight: 600;
  display: inline;
  color: #ff6161;
}

.stip-volumeSlider {
  border-right: 2px solid #e8e8e8;
}

.stip-volumeSlider span {
  color: #399fad;
  font-size: 29px;
  font-weight: 400;
}

.stip-volumeSlider label {
  color: #399fad;
}

.stip-volumeSlider output {
  color: #399fad;
}

.stip-volumeSlider p {
  color: #399fad;
}

.stip-priceSlider label {
  color: #ff6161;
}

.stip-priceSlider output {
  color: #ff6161;
}

.stip-priceSlider p {
  color: #ff6161;
}

input[type="range"].volume {
  -webkit-appearance: none;
  width: 100%;
  margin: 6px 0;
}

input[type="range"].volume:focus {
  outline: none;
}

input[type="range"].volume::-webkit-slider-runnable-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
          box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
  background: rgba(57, 159, 173, 0.3);
  border-radius: 100px;
  border: 0px solid rgba(0, 0, 0, 0);
}

input[type="range"].volume::-webkit-slider-thumb {
  -webkit-box-shadow: 1px 1px 5px rgba(57, 159, 173, 0.5), 0px 0px 1px rgba(64, 176, 192, 0.5);
          box-shadow: 1px 1px 5px rgba(57, 159, 173, 0.5), 0px 0px 1px rgba(64, 176, 192, 0.5);
  border: 0px solid rgba(255, 255, 255, 0);
  height: 20px;
  width: 20px;
  border-radius: 100px;
  background: #399fad;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -6px;
}

input[type="range"].volume:focus::-webkit-slider-runnable-track {
  background: rgba(57, 159, 173, 0.3);
}

input[type="range"].volume::-moz-range-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
  background: rgba(57, 159, 173, 0.3);
  border-radius: 100px;
  border: 0px solid rgba(0, 0, 0, 0);
}

input[type="range"].volume::-moz-range-thumb {
  box-shadow: 1px 1px 5px rgba(57, 159, 173, 0.5), 0px 0px 1px rgba(64, 176, 192, 0.5);
  border: 0px solid rgba(255, 255, 255, 0);
  height: 20px;
  width: 20px;
  border-radius: 100px;
  background: #399fad;
  cursor: pointer;
}

input[type="range"].volume::-ms-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

input[type="range"].volume::-ms-fill-lower {
  background: rgba(57, 159, 173, 0.3);
  border: 0px solid rgba(0, 0, 0, 0);
  border-radius: 200px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
}

input[type="range"].volume::-ms-fill-upper {
  background: rgba(57, 159, 173, 0.3);
  border: 0px solid rgba(0, 0, 0, 0);
  border-radius: 200px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
}

input[type="range"].volume::-ms-thumb {
  box-shadow: 1px 1px 5px rgba(57, 159, 173, 0.5), 0px 0px 1px rgba(64, 176, 192, 0.5);
  border: 0px solid rgba(255, 255, 255, 0);
  height: 20px;
  width: 20px;
  border-radius: 100px;
  background: #399fad;
  cursor: pointer;
  height: 8px;
}

input[type="range"].volume:focus::-ms-fill-lower {
  background: rgba(57, 159, 173, 0.3);
}

input[type="range"].volume:focus::-ms-fill-upper {
  background: rgba(57, 159, 173, 0.3);
}

input[type="range"].price {
  -webkit-appearance: none;
  width: 100%;
  margin: 6px 0;
}

input[type="range"].price:focus {
  outline: none;
}

input[type="range"].price::-webkit-slider-runnable-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
          box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
  background: rgba(255, 97, 97, 0.3);
  border-radius: 100px;
  border: 0px solid rgba(0, 0, 0, 0);
}

input[type="range"].price::-webkit-slider-thumb {
  -webkit-box-shadow: 1px 1px 5px rgba(255, 97, 97, 0.5), 0px 0px 1px rgba(255, 123, 123, 0.5);
          box-shadow: 1px 1px 5px rgba(255, 97, 97, 0.5), 0px 0px 1px rgba(255, 123, 123, 0.5);
  border: 0px solid rgba(255, 255, 255, 0);
  height: 20px;
  width: 20px;
  border-radius: 100px;
  background: #ff6161;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -6px;
}

input[type="range"].price:focus::-webkit-slider-runnable-track {
  background: rgba(255, 97, 97, 0.3);
}

input[type="range"].price::-moz-range-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
  background: rgba(255, 97, 97, 0.3);
  border-radius: 100px;
  border: 0px solid rgba(0, 0, 0, 0);
}

input[type="range"].price::-moz-range-thumb {
  box-shadow: 1px 1px 5px rgba(255, 97, 97, 0.5), 0px 0px 1px rgba(255, 123, 123, 0.5);
  border: 0px solid rgba(255, 255, 255, 0);
  height: 20px;
  width: 20px;
  border-radius: 100px;
  background: #ff6161;
  cursor: pointer;
}

input[type="range"].price::-ms-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

input[type="range"].price::-ms-fill-lower {
  background: rgba(255, 97, 97, 0.3);
  border: 0px solid rgba(0, 0, 0, 0);
  border-radius: 200px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
}

input[type="range"].price::-ms-fill-upper {
  background: rgba(255, 97, 97, 0.3);
  border: 0px solid rgba(0, 0, 0, 0);
  border-radius: 200px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
}

input[type="range"].price::-ms-thumb {
  box-shadow: 1px 1px 5px rgba(255, 97, 97, 0.5), 0px 0px 1px rgba(255, 123, 123, 0.5);
  border: 0px solid rgba(255, 255, 255, 0);
  height: 20px;
  width: 20px;
  border-radius: 100px;
  background: #ff6161;
  cursor: pointer;
  height: 8px;
}

input[type="range"].price:focus::-ms-fill-lower {
  background: rgba(255, 97, 97, 0.3);
}

input[type="range"].price:focus::-ms-fill-upper {
  background: rgba(255, 97, 97, 0.3);
}

.stip-requestQuote {
  border-top: 2px solid #e8e8e8;
}

.stip-requestQuote button {
  background-color: #399fad;
  color: white;
  border: 0;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.stip-requestQuote button:hover {
  background-color: #ff6161;
}

.stip-downloadCard {
  border-radius: 1.5rem !important;
}

.stip-downloadCard h2 {
  color: #399fad;
  line-height: 1.3em;
}

.stip-download {
  width: 14em;
  font-weight: 600;
  font-size: 16px;
  color: white;
  background-color: #399fad;
  border-color: transparent;
  border-radius: 50px;
  padding: 10px 20px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  border: 0;
}

.stip-download:hover {
  background-color: #399fad;
  border: 0;
  color: white;
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.4);
          box-shadow: 0 3px 5px rgba(0, 0, 0, 0.4);
  text-decoration: none;
}

.stip-downloadDisable {
  width: 12em;
  font-weight: 600;
  font-size: 16px;
  color: white !important;
  background-color: #c3c3c3;
  border-color: transparent;
  border-radius: 50px;
  padding: 10px 20px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  border: 0;
}

.stip-downloadDisable:hover {
  background-color: #c3c3c3;
  border: 0;
  color: white !important;
  text-decoration: none;
}

.stip-downloadPin {
  background: url("../img/downloadPin.png") no-repeat;
  position: absolute;
  height: 50px;
  width: 50px;
  background-size: contain;
  z-index: 1;
}

.stip-emailSectionBtn {
  background-color: #399fad;
  color: white;
  border: 0;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  width: 6em;
}

.stip-emailSectionBtn:hover {
  background-color: #ff6161;
}

.stip-footer {
  margin-top: 5em;
  padding: 100px 100px 25px 100px;
  border-top: 1.5px solid #e8e8e8;
}

.stip-footer .stip-footer-row {
  margin-top: 100px;
}

.stip-footer .stip-footerCta {
  padding-top: 5%;
}

.stip-footer .stip-footerCta .stip-footerBtn {
  margin-top: 25px;
}

.stip-copyright-txt {
  text-align: right;
}

.stip-footerLink a {
  color: #303030;
  display: block;
  margin: 0.5em 0;
}

.stip-footerTxt .stip-policy {
  color: #303030;
}

.stip-footerTxt p {
  font-size: 14px;
}

.stip-footerTxt a {
  font-size: 14px;
}

.stip-socialIcon {
  width: 100px;
  cursor: pointer;
}

.stip-socialIcon path {
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.stip-socialIcon path:hover {
  fill: #ff6161;
}

.stip-minFooter {
  border-top: 1.5px solid #e8e8e8;
  margin-top: 10em;
}

@media (max-width: 576px) {
  .stip-h1 {
    font-size: 24px !important;
  }
  .stip-h2 {
    font-size: 21px !important;
  }
  .stip-h3 {
    font-size: 18px !important;
  }
  .stip-txt {
    font-size: 16px !important;
  }
  .stip-nav {
    padding: 0 25px !important;
  }
  .stip-langBtnBox {
    padding: 0.5em 0 1em 0;
  }
  .stip-mt {
    margin: 1em !important;
  }
  .stip-sectionTitle {
    padding: 0 5% !important;
  }
  .stip-sectionBody {
    margin: 3em 0 0 0 !important;
  }
  .stip-contact-card {
    right: 35px;
    bottom: 35px;
  }
  .stip-contact-card-body {
    width: 100%;
  }
  .stip-contact-card-open {
    right: 50%;
    width: 80%;
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
  }
  .stip-heroContainer {
    height: 130vh;
    background-size: 80%;
  }
  .stip-heroContainer .stip-h1 {
    margin-top: -5em;
  }
  .stip-btnHero {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .stip-btnHero button:first-child {
    margin: 0 0 10px 0 !important;
  }
  .stip-btnHero button:nth-child(2) {
    margin: 0 !important;
  }
  .stip_home-crm {
    text-align: center;
  }
  .stip-howWork {
    padding: 2em !important;
    padding-top: 20em !important;
    background-size: 85%;
  }
  #stip-email-quote {
    width: 100%;
    border-radius: 0.25rem 0.25rem 0 0 !important;
  }
  .stip-requestQuoteBtn {
    width: 100%;
    border-radius: 0 0 0.25rem 0.25rem !important;
    padding: 0.3em !important;
  }
  .stip-emailSection {
    -webkit-box-shadow: none !important;
            box-shadow: none !important;
  }
  .stip-download-row {
    text-align: center;
  }
  .stip-download-row .stip-download {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .stip-footer {
    padding: 35px;
  }
  .stip-footerCta {
    padding-top: 15% !important;
  }
  .stip-footerBtn {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
  }
  .stip-footerBtn button:first-child {
    margin: 0 !important;
  }
  .stip-footerBtn button:nth-child(2) {
    margin: 0 !important;
  }
  .stip-copyright-txt {
    text-align: left;
  }
  .stip-reprompt {
    position: relative !important;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .stip-howWork {
    background-size: 50%;
  }
}

@media (max-width: 768px) {
  .stip-volumeSlider {
    border-bottom: 2px solid #e8e8e8;
    border-right: 0;
  }
}

@media (max-width: 767px) {
  .stip-howWork {
    padding: 3em;
  }
  .stip-benefitContainer {
    background: url("../img/benefitBG_small.png") no-repeat center center;
    background-size: contain;
  }
}

@media (min-width: 768px) and (max-width: 1200px) {
  .stip-howWork {
    padding: 5em;
  }
}

@media (min-width: 576px) and (max-width: 1200px) {
  .stip-txt {
    font-size: 16px !important;
  }
  .stip-btnHero button {
    font-size: 14px !important;
    padding: 10px 25px !important;
  }
  .stip-sectionTitle {
    padding: 0 10% !important;
  }
  .stip-sectionBody {
    margin: 3em 5% 0 5% !important;
  }
  .stip-footerBtn button {
    font-size: 13px !important;
  }
}

@media (min-width: 576px) and (max-width: 992px) {
  .stip-heroContainer {
    background-size: 65%;
  }
  .stip-benefitRow {
    padding: 1rem 0rem !important;
  }
}

@media (max-width: 1200px) {
  .stip-sectionBodyCard {
    margin: 3em 5% 0 5%;
  }
  .stip-benefitRow {
    margin: 5em 15% 0 15%;
    padding: 2rem 1rem;
  }
}
/*# sourceMappingURL=index.css.map */