@font-face {
    font-family: 'Nunito', sans-serif;
    font-display: auto;
    src: local('Nunito'), url('https://fonts.googleapis.com/css?family=Nunito:300,400,600,700&display=swap');
}

* {
    font-family: 'Nunito', sans-serif;
}

.hs-form {
    background-color: red !important;
}

html {
    overflow-x: hidden;
}

body {
    overflow-x: hidden;
    max-width: 1920px;
    margin: auto;
}

b {
    font-weight: 500;
}

$stcolor: #399fad; // old color #4E8EF0 or #0062FF
$ndcolor: #ff6161; // old color #FD6B15 or #FF7E00
$h1size: 29px;
$h2size: 21px;
$h3size: 18px;
$txtsize: 16px;

@import "blog.scss";
@import "contacts.scss";
@import "privacyPolicy.scss";
@import "support.scss";
@import "demo.scss";

.p-5_2 {
    padding: 2rem !important;
}

.px-5_2 {
    padding-left: 2rem !important;
    padding-right: 2rem !important;
}

.stip-h1 {
    font-size: $h1size;
    font-weight: 600;
}

.stip-h2 {
    font-size: $h2size;
    font-weight: 400;
}

.stip-h3 {
    font-size: $h3size;
    font-weight: 400;
}

.stip-txt {
    font-size: $txtsize;
    font-weight: 300;
}

.stip-colorTxt {
    color: $stcolor;
}

.stip-mb {
    margin-bottom: 5em;
}

.stip-hideMe {
    opacity: 0;
}

.z-index-low {
    z-index: -2 !important;
}

.stip-rounded {
    border-radius: 1.25rem;
}

.stip-shadow {
    box-shadow: 0 0rem 1rem rgba(0, 0, 0, 0.1) !important;
}

/*.stip-loadLogo {
    height: 30%;
    transform-box: fill-box;
    opacity: 1;

    .stip-char {
        transform-origin: center;
    }

    .stip-spunta {
        transform-origin: 35%;
        transform-box: fill-box;
    }

    .stip-rect {
        transform-origin: bottom;
        transform-box: fill-box;
    }
}

.stip-loading {
    display: flex;
}*/

.stip-navs {
    transition: 0.3s ease-out;
}

.stip-nav {
    z-index: 1030;
    transition: 0.5s;
    padding: 2em 5em 0 5em;
}

.stip-btnNav {
    border: none;

    &:focus {
        outline: none;
    }
}

.stip-langBtnBox {
    padding: .5rem;

    button {
        &:hover {
            text-decoration: underline;
        }

        &:focus {
            box-shadow: none;
        }
    }
}

.stip-active {
    color: $ndcolor !important;
}

.stip-reprompt-container {
    display: flex;
    transition: 0.5s;
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.2);

    .stip-reprompt {
        position: fixed;
        top: 50%;
        z-index: 1050;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: 0.5s;
    }
}

.stip-heroContainer {
    height: 100vh;
    padding: 10%;
    background: url("../img/heroBannerIllustration.png") no-repeat;
    background-size: contain;
    background-position-y: bottom;
    background-position-x: right;
    position: relative;
    overflow: hidden;
    align-items: center;

    h1 {
        font-size: 32px;
        font-weight: 400;
    }
}

.stip-demoRequest {
    height: 3em;
    width: 12em;
    font-weight: 600;
    font-size: $h3size - 2;
    color: white;
    background-color: $ndcolor;
    border-color: transparent;
    border-radius: 50px; 
    padding: 10px 20px;
 
    &:hover {
        box-shadow: 0 3px 5px rgba(0, 0, 0, 0.4) !important;
    } 
}

.stip-contactUs {
    height: 3em;
    width: 12em;
    font-weight: 600;
    font-size: $h3size - 2;
    color: white;
    background-color: transparent;
    border: 3px solid white;
    border-radius: 50px;
    padding: 10px 20px;
    margin-left: 20px;

    &:hover {
        border-color: $ndcolor;
        color: $ndcolor;
    }
}

.stip-contactUsHero {
    height: 3em;
    width: 12em;
    font-weight: 600;
    font-size: $h3size - 2;
    color: $stcolor;
    background-color: transparent;
    border: 3px solid $stcolor;
    border-radius: 50px;
    padding: 10px 20px;
    margin-left: 20px;
    transition: 0.3s;

    &:hover {
        border-color: $ndcolor;
        color: $ndcolor;
    }
}

.stip-sectionTitle {
    padding: 0 25%;
    text-align: center;
    margin-top: 12em;
}

.stip-sectionBody {
    margin: 3em 10% 0 10%;
}

.stip-titleNum {
    font-size: 42px;
    font-weight: 700;
    color: $stcolor;
}

.stip-IllustrationDim {
    height: 15em;
    width: 20em;
}

.stip-clientLogoDim {
    height: 7em;
    width: 200px;
}

.stip-benefitContainer {
    background: url("../img/benefitBG.png") no-repeat center center;
    background-size: contain;
}

.stip-benefitRow {
    max-width: 1000px;
    margin: 8em auto 0 auto;
    border-radius: 2.25rem;
    padding: 3rem 4rem;
}

.stip-howWork {
    padding: 10em;

    h2 {
        font-size: 2em;
    }

    p {
        font-size: 1.2em;
    }
}

.stip-caringBG {
    background: url("../img/caringBG.png") no-repeat;
    background-size: contain;
    background-position-x: left;
}

.stip-ticketBG {
    background: url("../img/ticketBG.png") no-repeat;
    background-size: contain;
    background-position-x: right;
}

.stip-redirectBG {
    background: url("../img/redirectBG.png") no-repeat;
    background-size: contain;
    background-position-x: left;
}

.costReduction-txt {
    font-size: $h1size + 19;
    font-weight: 600;
    display: inline;
    color: $stcolor;
}

.timeReduction-txt {
    font-size: $h1size + 19;
    font-weight: 600;
    display: inline;
    color: $ndcolor;
}


.stip-volumeSlider {
    border-right: 2px solid #e8e8e8;

    span {
        color: $stcolor;
        font-size: $h1size;
        font-weight: 400;
    }

    label {
        color: $stcolor;
    }

    output {
        color: $stcolor;
    }

    p {
        color: $stcolor;
    }
}

.stip-priceSlider {
    label {
        color: $ndcolor;
    }

    output {
        color: $ndcolor;
    }

    p {
        color: $ndcolor;
    }
}

// range sliders style
input[type=range].volume {
    -webkit-appearance: none;
    width: 100%;
    margin: 6px 0;
}

input[type=range].volume:focus {
    outline: none;
}

input[type=range].volume::-webkit-slider-runnable-track {
    width: 100%;
    height: 8px;
    cursor: pointer;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
    background: rgba(57, 159, 173, 0.3);
    border-radius: 100px;
    border: 0px solid rgba(0, 0, 0, 0);
}

input[type=range].volume::-webkit-slider-thumb {
    box-shadow: 1px 1px 5px rgba(57, 159, 173, 0.5), 0px 0px 1px rgba(64, 176, 192, 0.5);
    border: 0px solid rgba(255, 255, 255, 0);
    height: 20px;
    width: 20px;
    border-radius: 100px;
    background: #399fad;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -6px;
}

input[type=range].volume:focus::-webkit-slider-runnable-track {
    background: rgba(57, 159, 173, 0.3);
}

input[type=range].volume::-moz-range-track {
    width: 100%;
    height: 8px;
    cursor: pointer;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
    background: rgba(57, 159, 173, 0.3);
    border-radius: 100px;
    border: 0px solid rgba(0, 0, 0, 0);
}

input[type=range].volume::-moz-range-thumb {
    box-shadow: 1px 1px 5px rgba(57, 159, 173, 0.5), 0px 0px 1px rgba(64, 176, 192, 0.5);
    border: 0px solid rgba(255, 255, 255, 0);
    height: 20px;
    width: 20px;
    border-radius: 100px;
    background: #399fad;
    cursor: pointer;
}

input[type=range].volume::-ms-track {
    width: 100%;
    height: 8px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
}

input[type=range].volume::-ms-fill-lower {
    background: rgba(57, 159, 173, 0.3);
    border: 0px solid rgba(0, 0, 0, 0);
    border-radius: 200px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
}

input[type=range].volume::-ms-fill-upper {
    background: rgba(57, 159, 173, 0.3);
    border: 0px solid rgba(0, 0, 0, 0);
    border-radius: 200px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
}

input[type=range].volume::-ms-thumb {
    box-shadow: 1px 1px 5px rgba(57, 159, 173, 0.5), 0px 0px 1px rgba(64, 176, 192, 0.5);
    border: 0px solid rgba(255, 255, 255, 0);
    height: 20px;
    width: 20px;
    border-radius: 100px;
    background: #399fad;
    cursor: pointer;
    height: 8px;
}

input[type=range].volume:focus::-ms-fill-lower {
    background: rgba(57, 159, 173, 0.3);
}

input[type=range].volume:focus::-ms-fill-upper {
    background: rgba(57, 159, 173, 0.3);
}

// price
input[type=range].price {
    -webkit-appearance: none;
    width: 100%;
    margin: 6px 0;
}

input[type=range].price:focus {
    outline: none;
}

input[type=range].price::-webkit-slider-runnable-track {
    width: 100%;
    height: 8px;
    cursor: pointer;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
    background: rgba(255, 97, 97, 0.3);
    border-radius: 100px;
    border: 0px solid rgba(0, 0, 0, 0);
}

input[type=range].price::-webkit-slider-thumb {
    box-shadow: 1px 1px 5px rgba(255, 97, 97, 0.5), 0px 0px 1px rgba(255, 123, 123, 0.5);
    border: 0px solid rgba(255, 255, 255, 0);
    height: 20px;
    width: 20px;
    border-radius: 100px;
    background: #ff6161;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -6px;
}

input[type=range].price:focus::-webkit-slider-runnable-track {
    background: rgba(255, 97, 97, 0.3);
}

input[type=range].price::-moz-range-track {
    width: 100%;
    height: 8px;
    cursor: pointer;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
    background: rgba(255, 97, 97, 0.3);
    border-radius: 100px;
    border: 0px solid rgba(0, 0, 0, 0);
}

input[type=range].price::-moz-range-thumb {
    box-shadow: 1px 1px 5px rgba(255, 97, 97, 0.5), 0px 0px 1px rgba(255, 123, 123, 0.5);
    border: 0px solid rgba(255, 255, 255, 0);
    height: 20px;
    width: 20px;
    border-radius: 100px;
    background: #ff6161;
    cursor: pointer;
}

input[type=range].price::-ms-track {
    width: 100%;
    height: 8px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
}

input[type=range].price::-ms-fill-lower {
    background: rgba(255, 97, 97, 0.3);
    border: 0px solid rgba(0, 0, 0, 0);
    border-radius: 200px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
}

input[type=range].price::-ms-fill-upper {
    background: rgba(255, 97, 97, 0.3);
    border: 0px solid rgba(0, 0, 0, 0);
    border-radius: 200px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
}

input[type=range].price::-ms-thumb {
    box-shadow: 1px 1px 5px rgba(255, 97, 97, 0.5), 0px 0px 1px rgba(255, 123, 123, 0.5);
    border: 0px solid rgba(255, 255, 255, 0);
    height: 20px;
    width: 20px;
    border-radius: 100px;
    background: #ff6161;
    cursor: pointer;
    height: 8px;
}

input[type=range].price:focus::-ms-fill-lower {
    background: rgba(255, 97, 97, 0.3);
}

input[type=range].price:focus::-ms-fill-upper {
    background: rgba(255, 97, 97, 0.3);
}

// end range sliders style

.stip-requestQuote {
    border-top: 2px solid #e8e8e8;

    button {
        background-color: $stcolor;
        color: white;
        border: 0;
        transition: 0.2s;

        &:hover {
            background-color: $ndcolor;
        }
    }
}


.stip-emailSectionBtn {
    background-color: $stcolor;
    color: white;
    border: 0;
    transition: 0.2s;

    &:hover {
        background-color: $ndcolor;
    }
}

.stip-footer {
    margin-top: 5em;
    border-top: 1.5px solid #e8e8e8;

    .stip-footerCta {
        padding-top: 5%;

        .stip-footerBtn {
            margin-top: 25px;
        }
    }
}

.stip-footerLink {
    a {
        color: #303030;
        display: block;
        margin: 0.5em 0;
    }
}

.stip-footerTxt {
    .stip-policy {
        color: #303030;
    }

    p {
        font-size: 14px;
    }

    a {
        font-size: 14px;
    }
}

.stip-socialIcon {
    width: 100px;
    cursor: pointer;

    path {
        transition: 0.2s;

        &:hover {
            fill: $ndcolor;
        }
    }
}

.stip-minFooter {
    border-top: 1.5px solid #e8e8e8;
    margin-top: 10em;
}

.stip-demoContainer {
    height: 100vh;
    background-color: white;

    .stip-demoCol {
        background-color: $stcolor;
    }
}

.stip-demoCloseIcon {
    position: absolute;
    top: 2em;
    right: 2em;
    z-index: 1;

    i {
        font-size: 2em;
        color: white;
    }
}

//media query

@media (max-width: 576px) {
    .stip-h1 {
        font-size: 18px !important;
    }

    .stip-h2 {
        font-size: 16px !important;
    }

    .stip-h3 {
        font-size: 14px !important;
    }

    .stip-txt {
        font-size: 12px !important;
    }

    .stip-nav {
        padding: 0 1em !important;
    }

    .stip-langBtnBox {
        padding: 0.5em 0 1em 0;
    }

    .stip-mt {
        margin: 1em !important;
    }

    .stip-sectionTitle {
        padding: 0 5% !important;
        margin-top: 8em;
    }

    .stip-sectionBody {
        margin: 3em 0 0 0 !important;
    }

    .stip-heroContainer {
        background-size: 80%;
        background-position-y: 90%;

        h1 {
            margin-top: -7em;
            font-size: 32px;
        }
    }

    .stip-btnHero {
        display: flex !important;
        flex-direction: column;
        align-items: center;

        button:first-child {
            margin: 0 0 10px 0 !important;
        }

        button:nth-child(2) {
            margin: 0 !important;
        }
    }

    .stip-howWork {
        padding: 2em !important;
        padding-top: 20em !important;
        background-size: 85%;

        h2 {
            font-size: 1.7em !important;
        }

        p {
            font-size: 0.8em !important;
        }
    }

    #stip-email-quote {
        width: 100%;
        border-radius: 0.25rem 0.25rem 0 0 !important;
    }

    .stip-requestQuoteBtn {
        width: 100%;
        border-radius: 0 0 0.25rem 0.25rem !important;
        padding: 0.3em !important;
    }

    .stip-emailSection {
        box-shadow: none !important;
    }

    .stip-footerCta {
        padding-top: 15% !important;
    }

    .stip-footerBtn {
        display: flex !important;
        flex-direction: column !important;
        align-items: center !important;

        button:first-child {
            margin: 0 !important;
        }

        button:nth-child(2) {
            margin: 0 !important;
        }
    }

    .stip-footerTxt {
        padding: 5% !important;
    }

    .stip-reprompt {
        position: relative !important;
    }
}

@media (min-width: 576px) and (max-width: 768px) {
    .stip-howWork {
        background-size: 50%;
    }
}

@media (max-width: 768px) {
    .stip-volumeSlider {
        border-bottom: 2px solid #e8e8e8;
        border-right: 0;
    }
}

@media (max-width: 767px) {

    .stip-demoCloseIcon {
        i {
            color: $stcolor !important;
        }
    } 

    .stip-howWork {
        padding: 3em;

        h2 {
            font-size: 1.7em;
        }

        p {
            font-size: 0.7em;
        }
    } 

    .stip-benefitContainer {
        background: url("../img/benefitBG_small.png") no-repeat center center;
        background-size: contain;
    }
}

@media (min-width: 768px) and (max-width: 1200px) {
    .stip-howWork {
        padding: 5em;

        h2 {
            font-size: 2em;
        }

        p {
            font-size: 1em;
        }
    }
}

@media (min-width: 576px) and (max-width: 1200px) {
    .stip-h1 {
        font-size: 21px !important;
    }

    .stip-h2 {
        font-size: 18px !important;
    }

    .stip-h3 {
        font-size: 14px !important;
    }

    .stip-txt {
        font-size: 12px !important;
    }

    .stip-btnHero {
        button {
            font-size: 14px !important;
            padding: 10px 25px !important;
        }
    }

    .stip-sectionTitle {
        padding: 0 10% !important;
        margin-top: 10em !important;
    }

    .stip-sectionBody {
        margin: 3em 5% 0 5% !important;
    }

    .stip-footerBtn {
        button {
            font-size: 13px !important;
        }
    }
}

@media (min-width: 576px) and (max-width: 992px) {
    .stip-heroContainer {
        background-size: 65%;
    }

    .stip-benefitRow {
        padding: 1rem 0rem !important;
    }
}

@media (max-width: 1200px) {
    .stip-sectionBodyCard {
        margin: 3em 5% 0 5%;
    }

    .stip-benefitRow {
        margin: 8em 15% 0 15%;
        padding: 2rem 1rem;
    }
}