.stip-heroBgPlatform {
    background: url("../img/heroWave.svg") no-repeat;
    background-size: cover;
    background-position: top center;
}

.stip-platformHero {
    margin-top: 15em;

    .stip-heroScreen {
        max-width: 80%;
    }

    h1 {
        color: white;
        margin-bottom: 2em;
    }
}


.stip-functionImg {
    max-width: 100%;
}

.stip-function {
    background: url("../img/bodyWave.svg") no-repeat;
    background-position: center center;
}

@media (max-width: 768px) {

    .stip-heroScreen {
        max-width: 90% !important;
    }

    .stip-function {
        background-position: center 45% !important;
    }
}