$stcolor: #399fad;
$ndcolor: #ff6161;

.stip-supportContainer{
    height: 100vh;
    background: url("../img/supportBG.png") no-repeat center 100%;
    background-size: 100%;
}

#stip-support-send{
    color: white;
    background-color: $stcolor;
    transition: 0.2s;
    border: 0;

    &:hover{
        background-color: $ndcolor;
    }
}

@media (max-width: 576px) {
    .stip-supportContainer{
        background: none;
    }
}